.p-title,.p-price{
    font-size: 14px;
    color: #6e3b3b;
}
.p-img{
    max-width: 175px;
}
.custom-card{
    border: none;
    border-radius: 0;
}
.custom-card:hover{
    transition: 0.5s ease;
    box-shadow: 0 0 10px 3px #ad9999;
    z-index: 1;
}